In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('../data/names.csv')
df.head(1)

  first_name last_name                    email
0       John       Doe  john-doe@bogusemail.com

In [91]:
df['full_name'] = df['first_name'] + df['last_name']

In [92]:
df

,first_name,last_name,email,full_name
0,John,Doe,john-doe@bogusemail.com,JohnDoe
1,Mary,Smith-Robinson,maryjacobs@bogusemail.com,MarySmith-Robinson
2,Dave,Smith,davesmith@bogusemail.com,DaveSmith
3,Jane,Stuart,janestuart@bogusemail.com,JaneStuart
4,Tom,Wright,tomwright@bogusemail.com,TomWright
5,Steve,Robinson,steverobinson@bogusemail.com,SteveRobinson
6,Nicole,Jacobs,nicolejacobs@bogusemail.com,NicoleJacobs
7,Jane,Wright,janewright@bogusemail.com,JaneWright
8,Jane,Doe,janedoe@bogusemail.com,JaneDoe
9,Kurt,Wright,kurtwright@bogusemail.com,KurtWright
10,Kurt,Robinson,kurtrobinson@bogusemail.com,KurtRobinson
11,Jane,Jenkins,janejenkins@bogusemail.com,JaneJenkins
12,Neil,Robinson,neilrobinson@bogusemail.com,NeilRobinson
13,Tom,Patterson,tompatterson@bogusemail.com,TomPatterson
14,Sam,Jenkins,samjenkins@bogusemail.com,SamJenkins
15,Steve,Stuart,stevestuart@bogusemail.com,SteveStuart
16,Maggie,Patterson,maggiepatterson@bogusemail.com,MaggiePatterson
17,Maggie,Stuart,maggiestuart@bogusemail.com,MaggieStuart
18,Jane,Doe,janedoe@bogusemail.com,JaneDoe
19,Steve,Patterson,stevepatterson@bogusemail.com,StevePatterson
20,Dave,Smith,davesmith@bogusemail.com,DaveSmith
21,Sam,Wilks,samwilks@bogusemail.com,SamWilks
22,Kurt,Jefferson,kurtjefferson@bogusemail.com,KurtJefferson
23,Sam,Stuart,samstuart@bogusemail.com,SamStuart
24,Jane,Stuart,janestuart@bogusemail.com,JaneStuart
25,Dave,Davis,davedavis@bogusemail.com,DaveDavis
26,Sam,Patterson,sampatterson@bogusemail.com,SamPatterson
27,Tom,Jefferson,tomjefferson@bogusemail.com,TomJefferson
28,Jane,Stuart,janestuart@bogusemail.com,JaneStuart
29,Maggie,Jefferson,maggiejefferson@bogusemail.com,MaggieJefferson
30,Mary,Wilks,marywilks@bogusemail.com,MaryWilks
31,Neil,Patterson,neilpatterson@bogusemail.com,NeilPatterson
32,Corey,Davis,coreydavis@bogusemail.com,CoreyDavis
33,Steve,Jacobs,stevejacobs@bogusemail.com,SteveJacobs
34,Jane,Jenkins,janejenkins@bogusemail.com,JaneJenkins
35,John,Jacobs,johnjacobs@bogusemail.com,JohnJacobs
36,Neil,Smith,neilsmith@bogusemail.com,NeilSmith
37,Corey,Wilks,coreywilks@bogusemail.com,CoreyWilks
38,Corey,Smith,coreysmith@bogusemail.com,CoreySmith
39,Mary,Patterson,marypatterson@bogusemail.com,MaryPatterson
40,Jane,Stuart,janestuart@bogusemail.com,JaneStuart
41,Travis,Arnold,travisarnold@bogusemail.com,TravisArnold
42,John,Robinson,johnrobinson@bogusemail.com,JohnRobinson
43,Travis,Arnold,travisarnold@bogusemail.com,TravisArnold

In [96]:
df1.drop_duplicates(inplace=True)

In [97]:
df1[['full_name', 'email']] = df[['full_name', 'email']]

In [99]:
df1.tail()

        full_name                         email
37     CoreyWilks     coreywilks@bogusemail.com
38     CoreySmith     coreysmith@bogusemail.com
39  MaryPatterson  marypatterson@bogusemail.com
41   TravisArnold   travisarnold@bogusemail.com
42   JohnRobinson   johnrobinson@bogusemail.com

In [102]:
df1.to_json('names.json', orient='records')

In [16]:
df1.head()

                                        email
full_name
JohnDoe               john-doe@bogusemail.com
MarySmith-Robinson  maryjacobs@bogusemail.com
DaveSmith            davesmith@bogusemail.com
JaneStuart          janestuart@bogusemail.com
TomWright            tomwright@bogusemail.com

In [21]:
df1.reset_index()

             full_name                           email
0              JohnDoe         john-doe@bogusemail.com
1   MarySmith-Robinson       maryjacobs@bogusemail.com
2            DaveSmith        davesmith@bogusemail.com
3           JaneStuart       janestuart@bogusemail.com
4            TomWright        tomwright@bogusemail.com
5        SteveRobinson    steverobinson@bogusemail.com
6         NicoleJacobs     nicolejacobs@bogusemail.com
7           JaneWright       janewright@bogusemail.com
8              JaneDoe          janedoe@bogusemail.com
9           KurtWright       kurtwright@bogusemail.com
10        KurtRobinson     kurtrobinson@bogusemail.com
11         JaneJenkins      janejenkins@bogusemail.com
12        NeilRobinson     neilrobinson@bogusemail.com
13        TomPatterson     tompatterson@bogusemail.com
14          SamJenkins       samjenkins@bogusemail.com
15         SteveStuart      stevestuart@bogusemail.com
16     MaggiePatterson  maggiepatterson@bogusemail.com
17        MaggieStuart     maggiestuart@bogusemail.com
18             JaneDoe          janedoe@bogusemail.com
19      StevePatterson   stevepatterson@bogusemail.com
20           DaveSmith        davesmith@bogusemail.com
21            SamWilks         samwilks@bogusemail.com
22       KurtJefferson    kurtjefferson@bogusemail.com
23           SamStuart        samstuart@bogusemail.com
24          JaneStuart       janestuart@bogusemail.com
25           DaveDavis        davedavis@bogusemail.com
26        SamPatterson     sampatterson@bogusemail.com
27        TomJefferson     tomjefferson@bogusemail.com
28          JaneStuart       janestuart@bogusemail.com
29     MaggieJefferson  maggiejefferson@bogusemail.com
30           MaryWilks        marywilks@bogusemail.com
31       NeilPatterson    neilpatterson@bogusemail.com
32          CoreyDavis       coreydavis@bogusemail.com
33         SteveJacobs      stevejacobs@bogusemail.com
34         JaneJenkins      janejenkins@bogusemail.com
35          JohnJacobs       johnjacobs@bogusemail.com
36           NeilSmith        neilsmith@bogusemail.com
37          CoreyWilks       coreywilks@bogusemail.com
38          CoreySmith       coreysmith@bogusemail.com
39       MaryPatterson    marypatterson@bogusemail.com
40          JaneStuart       janestuart@bogusemail.com
41        TravisArnold     travisarnold@bogusemail.com
42        JohnRobinson     johnrobinson@bogusemail.com
43        TravisArnold     travisarnold@bogusemail.com

In [24]:
df['first_name']

0       John
1       Mary
2       Dave
3       Jane
4        Tom
5      Steve
6     Nicole
7       Jane
8       Jane
9       Kurt
10      Kurt
11      Jane
12      Neil
13       Tom
14       Sam
15     Steve
16    Maggie
17    Maggie
18      Jane
19     Steve
20      Dave
21       Sam
22      Kurt
23       Sam
24      Jane
25      Dave
26       Sam
27       Tom
28      Jane
29    Maggie
30      Mary
31      Neil
32     Corey
33     Steve
34      Jane
35      John
36      Neil
37     Corey
38     Corey
39      Mary
40      Jane
41    Travis
42      John
43    Travis
Name: first_name, dtype: object

In [25]:
df['first_name'].unique()

array(['John', 'Mary', 'Dave', 'Jane', 'Tom', 'Steve', 'Nicole', 'Kurt',
       'Neil', 'Sam', 'Maggie', 'Corey', 'Travis'], dtype=object)

In [27]:
df1.reset_index(inplace=True)

In [32]:
df1.drop_duplicates(inplace=True)

In [33]:
len(df1['full_name'].unique())

37

In [34]:
len(df1['full_name'])

37

In [36]:
df1['full_name']

0                JohnDoe
1     MarySmith-Robinson
2              DaveSmith
3             JaneStuart
4              TomWright
5          SteveRobinson
6           NicoleJacobs
7             JaneWright
8                JaneDoe
9             KurtWright
10          KurtRobinson
11           JaneJenkins
12          NeilRobinson
13          TomPatterson
14            SamJenkins
15           SteveStuart
16       MaggiePatterson
17          MaggieStuart
19        StevePatterson
21              SamWilks
22         KurtJefferson
23             SamStuart
25             DaveDavis
26          SamPatterson
27          TomJefferson
29       MaggieJefferson
30             MaryWilks
31         NeilPatterson
32            CoreyDavis
33           SteveJacobs
35            JohnJacobs
36             NeilSmith
37            CoreyWilks
38            CoreySmith
39         MaryPatterson
41          TravisArnold
42          JohnRobinson
Name: full_name, dtype: object

In [59]:
names = list(df1['full_name'].unique())
email = list(df1['email'].unique())

In [60]:
names

['JohnDoe',
 'MarySmith-Robinson',
 'DaveSmith',
 'JaneStuart',
 'TomWright',
 'SteveRobinson',
 'NicoleJacobs',
 'JaneWright',
 'JaneDoe',
 'KurtWright',
 'KurtRobinson',
 'JaneJenkins',
 'NeilRobinson',
 'TomPatterson',
 'SamJenkins',
 'SteveStuart',
 'MaggiePatterson',
 'MaggieStuart',
 'StevePatterson',
 'SamWilks',
 'KurtJefferson',
 'SamStuart',
 'DaveDavis',
 'SamPatterson',
 'TomJefferson',
 'MaggieJefferson',
 'MaryWilks',
 'NeilPatterson',
 'CoreyDavis',
 'SteveJacobs',
 'JohnJacobs',
 'NeilSmith',
 'CoreyWilks',
 'CoreySmith',
 'MaryPatterson',
 'TravisArnold',
 'JohnRobinson']

In [61]:
email

['john-doe@bogusemail.com',
 'maryjacobs@bogusemail.com',
 'davesmith@bogusemail.com',
 'janestuart@bogusemail.com',
 'tomwright@bogusemail.com',
 'steverobinson@bogusemail.com',
 'nicolejacobs@bogusemail.com',
 'janewright@bogusemail.com',
 'janedoe@bogusemail.com',
 'kurtwright@bogusemail.com',
 'kurtrobinson@bogusemail.com',
 'janejenkins@bogusemail.com',
 'neilrobinson@bogusemail.com',
 'tompatterson@bogusemail.com',
 'samjenkins@bogusemail.com',
 'stevestuart@bogusemail.com',
 'maggiepatterson@bogusemail.com',
 'maggiestuart@bogusemail.com',
 'stevepatterson@bogusemail.com',
 'samwilks@bogusemail.com',
 'kurtjefferson@bogusemail.com',
 'samstuart@bogusemail.com',
 'davedavis@bogusemail.com',
 'sampatterson@bogusemail.com',
 'tomjefferson@bogusemail.com',
 'maggiejefferson@bogusemail.com',
 'marywilks@bogusemail.com',
 'neilpatterson@bogusemail.com',
 'coreydavis@bogusemail.com',
 'stevejacobs@bogusemail.com',
 'johnjacobs@bogusemail.com',
 'neilsmith@bogusemail.com',
 'coreywilks@bogusemail.com',
 'coreysmith@bogusemail.com',
 'marypatterson@bogusemail.com',
 'travisarnold@bogusemail.com',
 'johnrobinson@bogusemail.com']

In [67]:
df2 = dict()
for i in range(len(names)):
    df2[names[i]] = email[i]

In [68]:
df2

{'JohnDoe': 'john-doe@bogusemail.com',
 'MarySmith-Robinson': 'maryjacobs@bogusemail.com',
 'DaveSmith': 'davesmith@bogusemail.com',
 'JaneStuart': 'janestuart@bogusemail.com',
 'TomWright': 'tomwright@bogusemail.com',
 'SteveRobinson': 'steverobinson@bogusemail.com',
 'NicoleJacobs': 'nicolejacobs@bogusemail.com',
 'JaneWright': 'janewright@bogusemail.com',
 'JaneDoe': 'janedoe@bogusemail.com',
 'KurtWright': 'kurtwright@bogusemail.com',
 'KurtRobinson': 'kurtrobinson@bogusemail.com',
 'JaneJenkins': 'janejenkins@bogusemail.com',
 'NeilRobinson': 'neilrobinson@bogusemail.com',
 'TomPatterson': 'tompatterson@bogusemail.com',
 'SamJenkins': 'samjenkins@bogusemail.com',
 'SteveStuart': 'stevestuart@bogusemail.com',
 'MaggiePatterson': 'maggiepatterson@bogusemail.com',
 'MaggieStuart': 'maggiestuart@bogusemail.com',
 'StevePatterson': 'stevepatterson@bogusemail.com',
 'SamWilks': 'samwilks@bogusemail.com',
 'KurtJefferson': 'kurtjefferson@bogusemail.com',
 'SamStuart': 'samstuart@bogusemail.com',
 'DaveDavis': 'davedavis@bogusemail.com',
 'SamPatterson': 'sampatterson@bogusemail.com',
 'TomJefferson': 'tomjefferson@bogusemail.com',
 'MaggieJefferson': 'maggiejefferson@bogusemail.com',
 'MaryWilks': 'marywilks@bogusemail.com',
 'NeilPatterson': 'neilpatterson@bogusemail.com',
 'CoreyDavis': 'coreydavis@bogusemail.com',
 'SteveJacobs': 'stevejacobs@bogusemail.com',
 'JohnJacobs': 'johnjacobs@bogusemail.com',
 'NeilSmith': 'neilsmith@bogusemail.com',
 'CoreyWilks': 'coreywilks@bogusemail.com',
 'CoreySmith': 'coreysmith@bogusemail.com',
 'MaryPatterson': 'marypatterson@bogusemail.com',
 'TravisArnold': 'travisarnold@bogusemail.com',
 'JohnRobinson': 'johnrobinson@bogusemail.com'}

In [73]:
mail_list_df = pd.DataFrame()

In [74]:
mail_list_df.head(1)

Empty DataFrame
Columns: []
Index: []

In [75]:
for k,v in df2.items():
    mail_list_df[k] = v

In [84]:
for i, k in enumerate(mail_list_df.keys(), start=0):
    mail_list_df

0 JohnDoe
1 MarySmith-Robinson
2 DaveSmith
3 JaneStuart
4 TomWright
5 SteveRobinson
6 NicoleJacobs
7 JaneWright
8 JaneDoe
9 KurtWright
10 KurtRobinson
11 JaneJenkins
12 NeilRobinson
13 TomPatterson
14 SamJenkins
15 SteveStuart
16 MaggiePatterson
17 MaggieStuart
18 StevePatterson
19 SamWilks
20 KurtJefferson
21 SamStuart
22 DaveDavis
23 SamPatterson
24 TomJefferson
25 MaggieJefferson
26 MaryWilks
27 NeilPatterson
28 CoreyDavis
29 SteveJacobs
30 JohnJacobs
31 NeilSmith
32 CoreyWilks
33 CoreySmith
34 MaryPatterson
35 TravisArnold
36 JohnRobinson

In [77]:
mail_list_df.to_json('names.json')

In [86]:
mail_list_df['JohnRobinson'] = 'johnrobinson@bogusemail.com'

In [87]:
mail_list_df['JohnRobinson']

Series([], Name: JohnRobinson, dtype: object)

In [88]:
mail_list_df

Empty DataFrame
Columns: [JohnDoe, MarySmith-Robinson, DaveSmith, JaneStuart, TomWright, SteveRobinson, NicoleJacobs, JaneWright, JaneDoe, KurtWright, KurtRobinson, JaneJenkins, NeilRobinson, TomPatterson, SamJenkins, SteveStuart, MaggiePatterson, MaggieStuart, StevePatterson, SamWilks, KurtJefferson, SamStuart, DaveDavis, SamPatterson, TomJefferson, MaggieJefferson, MaryWilks, NeilPatterson, CoreyDavis, SteveJacobs, JohnJacobs, NeilSmith, CoreyWilks, CoreySmith, MaryPatterson, TravisArnold, JohnRobinson]
Index: []

[0 rows x 37 columns]